services:
   app:
      container_name: lucelle-app-frontend-dev
      build:
         context: .
         dockerfile: Dockerfile.dev
      restart: unless-stopped
      ports:
         - "3001:3001"
      env_file:
         - .env.development
      volumes:
         - .:/app
         - /app/node_modules
         - /app/.next
         - nextjs_cache:/app/.next/cache
      environment:
         NODE_ENV: development
         PORT: 3001
      networks:
         - web-network

volumes:
   nextjs_cache:

networks:
   web-network:
      external: true
